*
!.luarc.json
!.gitignore
!quickshell/
!quickshell/**
!hypr/
!hypr/**
!xdg-desktop-portal-termfilechooser/
!xdg-desktop-portal-termfilechooser/**
!kitty/
!kitty/**
!cava/
!cava/**
!yazi/
!yazi/**
!nvim/
!nvim/**
!hyprmoncfg/
!hyprmoncfg/**
!wl-kbptr/
!wl-kbptr/**
!xdg-desktop-portal/
!xdg-desktop-portal/**
!spicetify/
!spicetify/**
